# Visual Studio temporary files, build results, and
# user-specific files
*.obj
*.exe
*.pch
*.pdb
*.ilk
*.idb
*.class
*.jar
*.csproj.user
*.suo
*.user
*.filters
*.log
*.tlog
*.lastbuildstate

# Build directories
Debug/
Release/
x64/
x86/
bin/
obj/
out/

# VSCode
.vscode/

# Visual Studio solution-specific files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Other
*.tmp
*.log
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.Directory.Build.props

# Dependency Cache and Packages
packages/
.vs/